version: '3.8'
name: pvz-service

services:
  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: mydb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
  
  app:
    build: .
    ports:
      - "8080:8080"
    environment:
      DATABASE_URL: postgresql://postgres:password@db:5432/mydb
    depends_on:
      - db
    command: ["./scripts/wait-for-db.sh", "db:5432", "--", "uvicorn", "main:app", "--host", "0.0.0.0", "--port", "8080"]

volumes:
  postgres_data: